body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #8150bd;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #8150bd;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #8150bd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #65389c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.2s;
}

li:hover {
    transform: scale(1.02);
}

img {
    max-width: 100px; /* Define uma largura máxima para as imagens */
    display: block;
    margin: 10px auto; /* Centraliza as imagens */
}
